body {
  font-family: "Montserrat", sans-serif;
}
.shop-button {
  position: fixed;
  z-index: 100;
  bottom: 15px;
  right: 15px;
  border-radius: 100%;
  padding: 15px;
  background-color: #fc9;
  border: 3px solid #f90;
  cursor: pointer;
}
.shop-button.active {
  background-color: #f90;
}
.shop-button img {
  width: 35px;
}
textarea.form-control {
  resize: none;
  height: 75vh;
}
